@import url('https://fonts.googleapis.com/css?family=Sacramento&text=YesNoOracle.ComGSpHdTit?');
.App {
  text-align: center;
  font-family: 'Sacramento', cursive;
}
input, p, h3{
  font-family: sans-serif;
}
